language: node_js
node_js:
  - "node"

branches:
  only:
    - master

before_script:
  - npm install -g @angular/cli

jobs:
  include:
    - stage: "Lint" # naming the Tests stage
      script: npm run lint
